<template>
  <card :title="$t('home')">
    <b-pagination
      v-model="currentPage"
      :total-rows="totalRows"
      :per-page="perPage"
      aria-controls="pupil-table"
      @change="changePage"
    ></b-pagination>
    <b-table
      striped
      hover
      :items="pupils"
      @row-clicked="onRowClicked"
      v-b-modal.modal-pupil
    ></b-table>
    <b-modal id="modal-pupil" title="Edit pupil" :hide-footer="true">
      <b-form @submit="onSubmit">
        <b-form-group
          id="input-group-1"
          label="Email address:"
          label-for="input-1"
          description="We'll never share your email with anyone else."
        >
          <b-form-input
            id="input-1"
            v-model="form.email"
            type="email"
            placeholder="Enter email"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-2" label="Your Name:" label-for="input-2">
          <b-form-input
            id="input-2"
            v-model="form.fio"
            placeholder="Enter username"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-3" label="Phone:" label-for="input-3">
          <b-form-input
            id="input-3"
            v-model="form.phone"
            placeholder="Enter phone"
            required
          ></b-form-input>
        </b-form-group>

        <b-form-group id="input-group-4" label="Address:" label-for="input-4">
          <b-form-input
            id="input-4"
            v-model="form.address"
            placeholder="Enter address"
            required
          ></b-form-input>
        </b-form-group>

        <b-button type="submit" variant="primary">
          Save
        </b-button>
      </b-form>
    </b-modal>
  </card>
</template>

<script>
import { mapGetters } from 'vuex'

export default {
  middleware: 'auth',
  head() {
    return { title: this.$t('home') }
  },
  async created() {
    await this.$store.dispatch('pupils/fetchPupils', { page: 1 })
    this.currentPage = this.currentPageInit
  },
  computed: mapGetters({
    totalRows: 'pupils/totalRows',
    perPage: 'pupils/perPage',
    currentPageInit: 'pupils/currentPage',
    pupils: 'pupils/pupils'
  }),
  data() {
    return {
      currentPage: 1,
      form: {
        id: '',
        fio: '',
        email: '',
        address: '',
        phone: ''
      }
    }
  },
  methods: {
    onRowClicked(item, index, event) {
      this.form = Object.assign({}, item)
    },
    async changePage(pageNumber) {
      await this.$store.dispatch('pupils/fetchPupils', { page: pageNumber })
    },
    async onSubmit(event) {
      event.preventDefault()
      await this.$store.dispatch('pupils/updatePupil', {
        id: this.form.id,
        payload: this.form
      })
      await this.$store.dispatch('pupils/fetchPupils', { page: this.currentPage })
      this.$bvModal.hide('modal-pupil')
    }
  }
}
</script>
